server.conf
project/boot
project/project
project/target
target
.idea/*

/.idea/workspace.xml
/.idea/misc.xml
/.idea/findbugs-idea.xml
/.idea/ant.xml
/.idea/qaplug_profiles.xml
/.idea/uiDesigner.xml